@charset "utf-8";
/* CSS Document */
p {text-align: right; color: fuchsia;
}
/* defining fonts */
.font_1 {
    background-color: darkgrey;
    color: aqua;
    font-size: medium;
}
.font_2 {
    background-color: darkred;
    color: white;
    font-size: medium;    
}
/* style elements */
.My_Style {
    background-color: midnightblue;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: small;    
}
